
#Ignore .csproj user settings
*.csproj.user

#Ignore .vcxproj files but not filters
*.vcxproj
!*.vcxproj.filters

#Ignore Sharpmake temp dirs
Source/Sharpmake/.vs/*
Source/Sharpmake/generated/*
Source/Sharpmake/obj/*
Source/Sharpmake/output/*

/Intermediate/*
/Libraries/*
/Binaries/*
