[submodule "Source/External/EASTL"]
	path = Source/External/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "Source/External/remotery"]
	path = Source/External/remotery
	url = https://github.com/Celtoys/Remotery
[submodule "Source/External/mathfu"]
	path = Source/External/mathfu
	url = https://github.com/google/mathfu
[submodule "Source/External/imgui"]
	path = Source/External/imgui
	url = https://github.com/ocornut/imgui
