
#Ignore .csproj user settings
*.csproj.user

#Ignore .vcxproj files but not filters
*.vcxproj
*.vcxproj.user
!*.vcxproj.filters

#Ignore Sharpmake temp dirs
Source/Sharpmake/.vs/*
Source/Sharpmake/generated/*
Source/Sharpmake/obj/*
Source/Sharpmake/output/*

/Intermediate/*
!/Intermediate/.gitkeep

/Libraries/*
!/Libraries/.gitkeep

/Binaries/*
!/Binaries/.gitkeep
Source/Sharpmake/sharpmake_debugsolution.vs2017.sln
Source/Sharpmake/sharpmake_debugsolution.vs2017.sln
Source/Sharpmake/sharpmake_sharpmake.vs2017.csproj
Source/Sharpmake/sharpmake_debugsolution.vs2015.sln
Source/Sharpmake/sharpmake_sharpmake.vs2015.csproj
Source/Application/Quake3ViewerExe/imgui.ini
